h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size:80px;
    color:rgb(65, 65, 65);
    text-align:center;
}

ul {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(11, 11, 187);
    text-align: center;
}
